html
  {
   font-size: 62.5%;
  }
 
@font-face 
  {
   font-family: gemunu;
   src: url(./FONTS/Gemunu_Libre/GemunuLibre-VariableFont_wght.ttf);
  }

 
#logo
{
  overflow: hidden;
  /* width: 15vw;
  height: 15vh; */
  align-content: initial;
  white-space: nowrap;
  margin-left: 0rem;
  position: relative;
 }
 
  #logo2
  {
   position: relative;
   /* top: 15rem;
   left: 75rem; */
   height: 30vh;
  } 

.container-1
  {
  align-items: left;
  overflow: hidden;
   width: 400px;
   white-space: nowrap;
   margin: 3rem;
   position: relative;
   display: inline-block;
  }

.container-1 input#search
  {
   width: 30rem;
   height: 40px;
   background:white;
   border: none;
   font-size: 10pt;
   float: left;
   color: black;
   padding-left: 15px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   position: relative;
  }

.icon
  {position: relative;
   left: -20px;
   font-size: 2rem;  
  }


a
  {
   margin: 0rem;
   font-size: 1.5rem;
   text-decoration: none;
   color:brown;
  }

  .slider-container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow-x: auto
    
  }


  .slider-container{
  background-color: #ffffff;
   width: 100%;
   animation-name: ejemploImg;
   animation-duration:8s;
   animation-delay: 0s;  
   animation-iteration-count:infinite;
  }

  @keyframes ejemploImg
  {
   from{background-image: url(./IMAGENES_PROYECTO/PRESENTACION/1.png);}
   to{background-image: url(./IMAGENES_PROYECTO/PRESENTACION/2.png);}
  }

#top
  {
   list-style: none;
   display:flex;
   flex-direction: row;
   height: 60vh;
   justify-content: space-between;
  }

.info-detalle
  {
   text-align: center;
  }
      
.boton
  {
   position: relative;
   bottom: 1.1rem;
   display: inline-block;
  } 
      
.textoBoton
  {
  font-size: 2rem;
  color: black;
  font-family: gemunu;
  }

.img-tarjeta
  {
   border-radius: 10%;
   height: 250px;
   width: 250px;
   margin-top: 2rem;
   margin-bottom: 2rem;
   margin-right: 2rem;
  }

.img-tarjeta2
  {
    width: 350px;
    height: 350px;
    margin: 0 5px;
    /* margin-bottom: 0px; */
  }


  .contenedor{
    display: flex;
    justify-content: center;
  }
@media (max-width:900px) {
  .contenedor {
    flex-direction: column;
    align-items: center;
  }
  .img-tarjeta2{
    margin-bottom: 5px;
  }
}

h3
  {
   font-family: "arial";
   font-size: 20px;
   text-align: center;
   justify-content: center;
   margin-bottom: 5px;
   align-items: center;
  }


.flex-listado
  {
   display: flex;
   list-style-type: none;
   align-items:center; 
   justify-content: space-between;
   font-size: 1.3rem;
  }

a iframe
  {
   height: 15vh;
   width: 15vw;        
  }

#textopiedeimg
  {
   font-size: 15px;
   font-family: Arial, Helvetica, sans-serif;
   color: rgb(12, 48, 18);
   justify-content: space-between;
   display: flex;
   align-items: center;
   flex-direction:row;
  }
      


.form
  {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem; 
    width: 493px;
    background:rgb (#a5a3a0);
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    justify-content: center;
    margin-left: -30px;
  }     

  .form-register h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin-bottom: 30px;
  }
  .controls {
    width: 100%;
    background-color: rgb(228, 230, 222) ;
    padding: 20 px;
    border-radius: 4px

  }
      
 #consulta {
  font-family: Arial, Helvetica, sans-serif;
  width: 493px;
 } 

/* .contact
  {
   margin-left: 10rem;
   margin-top: 10rem;
   margin: 50px; */
  /* } */
  
  h1{
    color: rgb(7, 7, 7);
    text-align: center;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
}
p{
    color: rgb(3, 26, 8);
    text-align: center;
    font-size: 15px;
}
div{
    color: rgb(10, 10, 10);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
body{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0px;
}
.text-center {
text-align: center;
position: relative;
margin: 10px;
}
.main-header{
    background-color: rgba(243, 243, 243, 0.886);
    /* padding: 0px; */
}
.nav-link{
    color:rgb(56, 31, 10);
    margin-right: 22px;
    font-family: Arial, Helvetica, sans-serif;
}
.main-container{
    min-height: 50px;
}
.productos img{
    width: 220px;
    height: 250px;
    margin: 25px;
}
.productos h3{
  font-size: 30px;
  margin: 20px;
}
.card{
    border-radius: 10px;
    background-color: rgb(230, 228, 228);
    box-shadow: 0 1px 3px rgba(0,0,0,0,12), 0 1px 2px rgba(0,0,0,0,24);
    margin: 50px;
}
.inline div {
  display: inline-block;
}
/* .videowsp {
  margin: 55px;
} */

.card4
{
  display:inline-block;
  vertical-align: middle;
}
.card2
   {
    display: inline-block;
    width: 15vw; 
    margin: 5rem;
    vertical-align: middle;
   
  }
.logoFoot{
  margin: 3rem;
  display: block;
  font-size: 2rem;
 
}

 
   footer
   {
    background-color: #f6f1ea;
    align-content: center;

   }
   


.container-boton{
  /* background-color: #5fef52; */
  /* border: 10px solid #fff; */
  position: fixed;
  z-index: 0;
  border-radius: 100%; 
  bottom: 0px;
  right: 0px; 
  padding: 0px; 
  /* animation: efecto 3s; */
}

.container-boton:hover{
  /* transform: scale(0); */
  width: 100px;
  height: 100px;
}

.botonwsp{
  width: 100px;
  height: 100px;
  
}

.ImgHorario{
  /* position: relative; */
  align-content: center;
  display: flex;
}

.text3{
  align-content: center;
  display: flex;
  font-size: 1rem;
}
/* @keyframes efecto{
  0%{
      box-shadow: 0 0 0 0  rgba(199, 168, 168, 0.85);
  }
  100%{
      box-shadow: 0 0 0 0px rgb(243, 238, 238);
  }
} */

















  